*{
  background-color: #f3f3f3;
}

table{
  margin-left: 20px;
  border-collapse: collapse; 
}


tr{
  border: 1px solid #f3f3f3;
  padding: 8px;

}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  background-color:white;
  font-size: small;
}

td{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  background-color:white;
  font-size: small;
}

#attainable-increase{
  font-weight:bold;
}

#markdown{
  text-align:left;
  background-color: white;
}

